<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="remoteFactory" class="com.ideal.utility.remote.RemoteFactory" factory-method="getInstance">
		<constructor-arg value="1"></constructor-arg>
	</bean>
	
	<!-- 加载容器工具类 -->
	<bean class="com.ideal.utility.util.ApplicationContextHolder"></bean>
	
	<bean id="propertyConfigurer" class="com.ideal.utility.resource.PropertiesUtil">
		<property name="order" value="1" />
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
		<property name="ignoreResourceNotFound" value="true" />  
		<property name="locations">
			<list>
				<!-- <value>classpath*:jdbc.properties</value>
				<value>classpath*:memcached.properties</value> -->
				<value>classpath*:system.properties</value>
				<!-- <value>classpath*:cache.properties</value>
				<value>classpath*:system.properties</value>
				<value>classpath*:module.properties</value>
				<value>classpath*:remote_io.properties</value>
				<value>classpath*:mall.properties</value>
				<value>classpath*:manager.properties</value>  --> <!-- belong to  manager project -->
			</list>
		</property>
	</bean>

</beans>